anyio
beautifulsoup4
certifi
cffi
charset-normalizer
curl_cffi
frozendict
greenlet
h11
httpcore
httpx
idna
multitasking
numpy==1.26.4
pandas==1.5.3
peewee
platformdirs
playwright
protobuf
pycparser
pyee
python-dateutil
python-telegram-bot
python-dotenv
pytz
requests
scipy
six
sniffio
soupsieve
typing_extensions
tzdata
urllib3
websockets
yfinance
